<html>
<head>
    <title>Form Example</title>
</head>
<style>
body {background-color: #0abde3;}
input   {color: blue;}
label    {color: white;}


</style>
<body>
     <form method=''>
       <div style="padding-bottom:2em"></div>
		<label for='name'>First Name: </label>
		<input type='text' name='username' id='name' /><br><br>
		<label for='password'>Last name: </label>
		<input type='password' name='password' id='password' /><br><br>
    <div style="padding-bottom:2em">
    <label for='name'>Middle Name: </label>
		<input type='text' name='username' id='name' /><br><br></div>

		<label for='password'>Address: </label>
		<input  type='password' name='password' id='password' /><br><br>
    <label for='name'>City: </label>
    <input type='text' name='username' id='name' /><br><br>
    <label for='password'>State: </label>
    <input type='password' name='password' id='password' /><br><br>
    <label for='name'>Zip Code: </label>
    <input type='text' name='username' id='name' /><br><br>
    <label for='password'>Phone Number: </label>
    <input type='password' name='password' id='password' /><br><br>




	 </form>
</body>
</html>
