<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>Map</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/base.css') }}">

<link rel="stylesheet"
      href="{{ url_for('static', filename='css/default.css') }}">
<link rel="stylesheet"
      href="{{ url_for('static', filename='css/component.css') }}">

<style>
  html, body, #viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
  }
</style>
  <link rel="stylesheet" href="https://js.arcgis.com/4.11/esri/css/main.css">
<script src="https://js.arcgis.com/4.11/"></script>

  <script>
require([
  "esri/Map",
  "esri/views/MapView",
  "esri/Graphic",
  "esri/geometry/Point",
  "esri/symbols/SimpleMarkerSymbol",
  "esri/geometry/Polyline",
  "esri/symbols/SimpleLineSymbol",
  "esri/geometry/Polygon",
  "esri/symbols/SimpleFillSymbol"
], function(Map, MapView,
      Graphic, Point, SimpleMarkerSymbol,
      Polyline, SimpleLineSymbol,
      Polygon, SimpleFillSymbol
) {

  var map = new Map({
    basemap: "satellite"
  });

  var view = new MapView({
    container: "viewDiv",
    map: map,
    center: [-76.9414,38.9953],
    zoom: 9,
    tilt: 70
  });

  var data = {{hosp|tojson}};
  for (i = 0; i < {{l}}; i++) {
    // Create a point
    var point = new Point({
      longitude: JSON.parse(data)[i][0],
      latitude: JSON.parse(data)[i][1]
    });


    // Create attributes
    var attributes = {
      Name: JSON.parse(data)[i][2],  // The name of the pipeline
      City: JSON.parse(data)[i][4]  // The length of the pipeline
    };

    // Create popup template
    var popupTemplate = {
      title: JSON.parse(data)[i][2],
      content: JSON.parse(data)[i][3]
    };

    // Create a graphic and add the geometry and symbol to it
    var pointGraphic = new Graphic({
      geometry: point,
      symbol: {
       type: "picture-marker",
       url: "https://cdn1.iconfinder.com/data/icons/medicine-pt-7/100/051_-_hospital_map_marker_pin_doctor-512.png",
       width: "26px",
       height: "26px"
     },
      attributes: attributes,
      popupTemplate: popupTemplate
    });

    view.graphics.add(pointGraphic);
  }


  var point = new Point({
    longitude: {{lon}},
    latitude: {{lat}}
  });

  // Create attributes
  var attributes = {
    Name: "Emergency!",  // The name of the pipeline
    City: "Hyattesville"  // The length of the pipeline
  };

  // Create popup template
  var popupTemplate = {
    title: "Emergency!",
    content: "Hyattesville"
  };

  // Create a graphic and add the geometry and symbol to it
  var pointGraphic = new Graphic({
    geometry: point,
    symbol: {
     type: "picture-marker",
     url: "https://cdn1.iconfinder.com/data/icons/medicals-colored-2/100/Medical_2_15-512.png",
     width: "26px",
     height: "26px"
   },
    attributes: attributes,
    popupTemplate: popupTemplate
  });

  view.graphics.add(pointGraphic);

});</script>
</head>
<body>
  <div style="width:100%; height:10%; background:#ff9f43"><button type="button" style="width:100%; height:100%; padding:0; margin:0;" onclick="window.location.href='{{ url_for( 'blog.attached' ) }}';" class="btn btn-1 btn-1c">Find Best Hospital</button></div>

  <div id="viewDiv">
  </div>
</body>
</html>
